//colors
$chrome-yellow: #ffa801;
$yankees-blue: #152536;
$aurometalsaurus: #6c757d;
$bright-gray: #efefef;
$anti-flash-white: #f1f1f1;

@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}

@function min($numbers...) {
	@return m#{i}n(#{$numbers});
}
