.cart-categories {
  margin-bottom: 35px;
  padding: 40px 0;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.19);
  border-radius: 10px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__link {
    padding: 17px 58px 15px 48px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    transition: color 0.5s ease-in-out;

    .cart-categories__link--active,
    &:hover {
      color: #fff;
      background-color: $chrome-yellow;
      border-radius: 0px 27px 27px 0px;
    }
  }

  .cart-categories__link--active {
    color: #fff;
    background-color: $chrome-yellow;
    border-radius: 0px 27px 27px 0px;
  }
}

.catalog-page__equip {
  margin-bottom: 30px;
}

.cart-product {
  &__table {
    margin-bottom: 30px;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: auto;
  }

  &__item {
    border-bottom: 2px solid rgba(196, 196, 196, 0.56);
  }

  &__heading {
    border-bottom: 2px solid $chrome-yellow;
  }

  &__title {
    padding: 15px;
    padding-top: 0;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

  &__item {
    td:not(:last-child) {
      padding: 15px;
    }
  }

  &__pic {
    width: 105px;
  }

  &__img {
    background-color: #fff;
    border-radius: 7.16px;
    filter: drop-shadow(0px 2.86445px 17.9028px rgba(0, 0, 0, 0.19));
  }

  &__descr {
    width: 182px;
    font-size: 14px;
    line-height: 15px;
  }

  &__price,
  &__sum {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    color: $chrome-yellow;
  }

  &__btn {
    background-color: transparent;

    svg {
      stroke: $chrome-yellow;
      transition: stroke 0.5s ease-in-out;
    }

    &:hover {
      svg {
        stroke: $yankees-blue;
      }
    }
  }

  &__result-btn {
    position: relative;
    padding: 14px 11px 14px 50px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: $chrome-yellow;
    border: 1px solid transparent;
    border-radius: 100px;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
      border 0.5s ease-in-out;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
      stroke: currentColor;
    }

    &:hover {
      color: $chrome-yellow;
      background-color: #fff;
      border: 1px solid $chrome-yellow;
    }
  }

  &__issue {
    display: flex;
    justify-content: space-between;
  }

  &__issue-btn {
    padding: 16px 65px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 100px;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: $chrome-yellow;
      background-color: #fff;
      border-color: $chrome-yellow;
    }
  }
}

.cart__content {
  overflow-x: auto;
}

.cart-footer {
  td {
    padding: 15px;
  }

  &__sum-text,
  &__sum-num {
    text-align: center;
  }

  &__sum-text {
    color: $chrome-yellow;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
  }

  &__sum-num,
  &__sum-price {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
  }
}

.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 30px;
  border: 1px solid $chrome-yellow;
  border-radius: 15px;

  &__input {
    padding-left: 5px;
    width: 30px;
    box-sizing: border-box;
    background-color: transparent;
    outline: transparent;
    border: transparent;
    text-align: center;
  }

  &__btn {
    padding-top: 5px;
    background-color: transparent;

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

@media (max-width: 1100px) {
  .cart-product {
    &__issue {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 650px) {
  .cart-product {
    &__issue {
      flex-direction: column;
    }

    &__issue-btn {
      &:first-child {
        margin-bottom: 15px;
      }
    }
  }

  .cart__content {
    max-width: 550px;
    width: 100%;
  }
}